body {
    background-color: #E0FBFC;
}

main {
    max-width: 640px !important;
}

header {
    text-align: center;
}

#image {
    display: block !important;
    width: 100%;
    max-width: 640px;
    height: auto;
}

#img-caption {
    max-width: 640px;
}

.row {
    display: flex;
    justify-content: center;
}

h2 {
    text-align: center;
    margin-bottom: 1rem;
}

ul {
    max-width: 440px;
}

li {
    margin-bottom: 1rem;
}

blockquote {
    max-width: 520px;
    margin-bottom: 3rem;
}